<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your article</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <%- include('layouts/header') %>
    <div class="main-container new">
        <div class="art-details">
            <span class="article-tag">
                <a href="/articles/collections/<%= article.collectionName %>"><%= article.collectionName %></a>
            </span>
            <h2 class="article-title"><%= article.title.split("-").join(" ") %></h2>
            <div class="art-content">
                <%- article.content %>
            </div>
        </div>
        <div class="article-actions">
            <a href="/articles/<%= article.title %>/edit" class="button green">Edit article</a>
            <form class="btn" action="/articles/<%= article.title %>?_method=DELETE" method="post">
                <button type="submit" class="button red">Delete</button>
            </form>
        </div>
    </div>

    <script>
        var refTagger = {
            settings: {
                bibleVersion: "ESV",
                linksOpenNewWindow: false,			
                roundCorners: true,
                socialSharing: ["google"],
                customStyle : {
                    heading: {
                        backgroundColor : "#ffffff",
                        color : "#000000",
                        fontFamily : "sans-serif"
                    },
                    body   : {
                        color : "#000000",
                        fontFamily : "Georgia, Times, 'Times New Roman', serif"
                    }
                }
            }
        };
        (function(d, t) {
            var n=d.querySelector("[nonce]");
            refTagger.settings.nonce = n && (n.nonce||n.getAttribute("nonce"));
            var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
            g.src = "https://api.reftagger.com/v2/RefTagger.js";
            g.nonce = refTagger.settings.nonce;
            s.parentNode.insertBefore(g, s);
        }(document, "script"));
    </script> 
</body>
</html>