<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collection: <%= coll.title %></title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <div class="main-container new">
        <h4>Welcome to <a href="/">BibleTag</a></h4>
        <p>The collection's name is: <b><%= coll.title %></b></p>
        <form action="/articles/collections/<%= coll.title %>" method="post">
            <input type="text" name="title" placeholder="Title" value="">
            <br>
            <input type="submit" class="button default" value="Create article to this collection">
        </form>
        <p>Down below are all the articles' titles that are included in this collection</p>
        <div class="art-det">
            <% for (let i = 0; i < articles.length; i++) { %>
                <div>
                    <a href="/articles/<%= articles[i].title %>"><%= articles[i].title  %></a>
                </div>
            <% } %>
        </div>
    </div>
</body>
</html>