<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Collection: <%= coll.title %></title>
    <link rel="stylesheet" href="/public/style.css" />
  </head>
  <body>
    <%- include('layouts/header') %>
    <div class="main-container">
      <a href="/articles/new?collectionName=<%= coll.title %>" class="button"
        >Create article to this collection</a
      >
      <h2>Articles from '<%= coll.title %>'</h2>
      <div class="flex-container-cards">
        <% for (let i = 0; i < articles.length; i++) { %>
        <div class="card">
          <a href="/articles/<%= articles[i].title %>"
            ><%= articles[i].title %></a
          >
        </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
