<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit article <%= article.title %></title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <%- include('layouts/header') %>
    <div class="main-container">
        <div class="mcn">
            <h2>Edit this article: <%= article.title.split("-").join(" ") %></h2>
            <form action="/articles/<%= article.id %>?_method=PUT" method="post">
                <input type="text" name="title" placeholder="Title" value="<%= article.title.split("-").join(" ") %>">
                <br>
                <input type="text" name="collectionName" placeholder="Collection" value="<%= article.collectionName %>">
                <br>
                <textarea name="markdown" placeholder="Content" value="<%= article.markdown %>" style="height: 100px;"><%= article.content %></textarea>
                <br>
                <button type="submit" class="button default">Edit article</button>
            </form>
        </div>
    </div>
</body>
</html>